@tailwind base;
@tailwind components;
@tailwind utilities;

body { color: rgb(0, 0, 0); }
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: rgba(196, 181, 253, 0.5); border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: rgba(196, 181, 253, 0.8); }
.glass { background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px); }
